<widget-modal widget-modal-title="Configure Deploy Widget">
<form class="deploy-config" name="configForm"
	ng-submit="deployConfig.submit(configForm.$valid)"
	novalidate="novalidate">
	<div input="deployJob" errors="{required:'Please give the URL'}">

		<input type="text" name="connectionUrl" class="form-control"
			placeholder="Provide the URL of the API"
			ng-model="deployConfig.connectionDetails" required>
		<hr />

		<div class="button-row row text-center">
			<button type="submit" class="btn btn-primary btn-wide">Save</button>
			<button type="submit" class="btn  btn-primary btn-wide">Change</button>
		</div>
	</div>
</form>
</widget-modal>