<div class="deploy-view">
	<div class="dash-row" ng-hide="deployView.deployments.length>0">
		<p class="text-center text-info">Please wait..... Getting data
			from server</p>
	</div>
	<table class="table">
		<tbody
			ng-repeat="deployment in deployView.deployments | filter:{'appVersion':'3.8'} | limitTo: 7">
			<tr class="dash-row">
				<td class="dash-overflow environment-name">{{deployment.farm}}</td>
				<td class="text-standard-date">{{deployment.deployDate |fromNow
					}}</td>
				<td class="server-count">{{deployment.appVersion}}</td>
			</tr>
			<tr class="dash-row">
				<td class="pipeline-environment-header" colspan="3"><span
					class="pull-left" ng-repeat="x in [0,1,2,3]"
					tooltip-placement="top-left" tooltip-class="myClass"
					uib-tooltip="{{deployView.tooltipFunc(x)}}"
					ng-class="deployView.dynamicClass(deployment.stages[x][x])">
						{{deployment.stages[x][x] | lowercase}} </span></td>
			</tr>
		</tbody>
	</table>
</div>